<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM – User Management End-to-End Flow">
    <test name="Admin User Lifecycle">
        <classes>
            <class name="com.orangehrm.testRunners.TestRunner"/>
        </classes>
    </test>
</suite>